.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    background-color: black;
}

.navbar > .logo {
    font-size: 1.8rem;
    color: white;
    padding-left: 20px;
}

.links {
    position: fixed;
    width: 100vw;
    top: 4.05rem;
    background-color: #222222;
    overflow: hidden;
    transition: 250ms height ease-in-out;
}

.links:not(.hide) {
    height: 19vh;
}

.links a {
    display: block;
    text-align: center;
    padding: 10px 0;
    color: white;
}

.links a:hover {
    background-color: white;
    color: black;
}

.hide {
    height: 0;
}

@media screen and (min-width: 600px) {
    .navbar {
        justify-content: space-between;
        padding-top: 0;
    }
    .links {
        height: auto;
        background-color: black;
        display: block;
        position: static;
        width: auto;
        margin-right: 20px;
        background: none;
    }

    .links a {
        display: inline-block;
        padding: 15px 20px;
    }

}